:root {
  --blue: #000080;
  --white: #ffffff;
  --grey: #696969;
}

* {
	box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

a, p, h1, h2, h3, h4, span {
  text-align: center;
}

h1, h2 {
  color: var(--white);
  padding-top: 50px;
}

h3 {
  color: var(--blue);
  font-size: 24px;
}

h4 {
  color: var(--blue);
  font-size: 18px;
}

p, ul, li, a {
  color: var(--grey);
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  p, ul, li, a {
    font-size: 22px;
    line-height: 1.8;
  }

  h4 {
    font-size: 24px;
  }

  h3 {
    font-size: 26px;
  }
}

li::marker {
  color: var(--blue);  
}

i {
  color: var(--blue);
}

/* navbar */
nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  padding: 4px 10px;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.burger {
  display: none;
}

/* For mobile, hide the middle 4 navbar elements and replace with burger menu */
@media only screen and (max-width: 600px) {
  .burger {
    display: inline;
  }

  .middle-nav {
    display: none;
  }

  .middle-nav.active {
    display: flex;
    flex-direction: column;
  }
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: var(--grey);
  padding: 4px 0 4px 0;
  margin: 4px 20px 0 4px;
  border-bottom: 3px solid transparent;
  transition: border 0.3s ease-in-out;
}

nav a:hover {
  border-bottom: 3px solid var(--blue);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}

.hero-body h1 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 80px;
	z-index: 1;
	text-shadow: 0px 1px 3px var(--grey);
}

.hero-body h2 {
	font-size: 40px;
	text-shadow: 0px 1px 3px var(--grey);
}

/* For mobile, make title smaller */
@media only screen and (max-width: 600px) {
  .hero-body h1 {
    font-size: 60px;
  }
  .hero-body h2 {
    font-size: 30px;
  }
}

.hero-body, .hero-sub {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.hero-body {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Aimed at ipad Pro */
@media (hover: none) {
  .hero-body, .hero-sub {
    background-attachment: scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}

/* Aimed at mobile which works OK with background size set to cover */
@media only screen and (max-width: 600px) {
  .hero-body, .hero-sub {
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.example-site {
  display: block;
  margin-bottom: 2rem;
}

.example-site-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

@media (min-width: 768px) {
  .example-site-wrapper {
    width: 600px;
  }
}

.example-site-wrapper img {
  width: 100%;
  object-fit: cover;
}

.image-one {
  background-image: url('./assets/whaletail.jpg');
}
.image-two {
  background-image: url('./assets/14colors.jpg');
}
.image-three {
  background-image: url('./assets/NZ-tongariro.jpg');
}
.image-four {
  background-image: url('./assets/patagonia-skull.jpg');
}
.image-five {
  background-image: url('./assets/sealion.jpg');
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: auto 0;
  margin: 60px auto 100px auto;
}

/* These styles support the slide-in skills section */

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
}

.panel {
  opacity: 0;
  transition: all .5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.left-panel {
  width: 300px;
  transform: translateX(-90%);

}

.right-panel {
  width: 300px;
  transform: translateX(90%);
}

.centre-panel {
  width: 300px;

}

.panel.active {
  opacity: 1;
  transform: translateX(0%);
}

.skill {
  padding: 5px 10px;
  background-color: #c9daf8;
  display: inline-block;
  margin: 5px 5px;
  border-radius: 20px;
  box-shadow: 0px 1px 3px var(--grey);
}

.skill p {
  margin: 0;
}

/* These styles support the profile section */

.profile-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile {
  align-items: center;
  text-align: center;
  margin: 0 30px;
}

.profile img {
  border: 1px solid rgb(211,211,211);
  border-radius: 50%;
}

.profile p {
  width: 300px;
}

.profile div {
  margin: 15px 5px;
}

.link {
  text-decoration: none;
  color: var(--grey);
  padding: 4px 0 4px 0;
  margin: 4px 20px 0 4px;
}

.link:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: var(--blue);
  transition: width 0.3s ease-in-out;
}

.link span {
  margin-left: 1rem;
}

.link:hover:after {
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


/* These styles support the experience section */

.experience-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.experience {
  align-items: center;
  text-align: center;
  border: 1px solid rgb(211,211,211);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

p.duration {
  text-align: center;
  padding-bottom: 5px;
  margin-top: 4px;
  border-bottom: 1px solid rgb(211,211,211);
}

/* These styles support the footer section */

footer p {
    text-align: center;
    margin-bottom: 15px;
}

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact a {
  margin-right: 10px;
}

.contact div {
  margin: 15px 5px;
}
